{% extends 'master/base.html' %}

{% block content %}
<h1>Product Checkout</h1>

<div class="product-container">
    <!-- Product Card Example -->
    <div class="product-card">
        <img src="{{product.image.url}}" alt="Product Image" class="product-image">
        <div class="product-info">
            <h2>{{product.name}}</h2>
            <p>{{product.description}}</p>
            <div class="price-stock">
                <span>{{product.price}}/-</span>
                <span>Stock: {{product.stock}}</span>
            </div>
            <a href="{% url 'create_payment' product.id %}" class="order-btn">Pay Now</a>
        </div>
    </div>


</div>

{% endblock content %}